
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="application.css" />
    </head>
    
    <body>

<div class="pusheen">
</div>
	<center>
		<div class="heart"></div>
			<div class="text">

				<h1>hello</h1>

					<p>Welcome to the home of <%= @owner.name %></p>
					<p>I was born on <%= @owner.birthdate %></p>
					<p>Only <%= @owner.countdown %> days until my birthday!</p>
			</div>

	</center>


</body>
</html>
