
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="application.css" />
    </head>
    
    <body>

<div class="pusheen">
</div>
	<center>
		<div class="heart"></div>
			<div class="text">

				<h1>hello</h1><br>

					<img src="https://lh3.googleusercontent.com/-J4mKjdb8-48/VGaAO3yzDtI/AAAAAAAABps/wUwUGKeZLuo/w426-h308/Pusheen-pusheen-the-cat-24894899-400-289.gif">

					<p>Welcome to <%= @owner.name %>'s birthday party</p>
					<p>She was born <%= @owner.birthdate %></p>
					<p>Only <%= @owner.countdown %> days until her birthday!</p>
			</div>

	</center>


</body>
</html>
