/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
	background: pink;
}

.heart{
    position: relative;
    width: 325px;
    height: 325px;
    background-color: white;
}

.heart:before{
    position: absolute;
    bottom: 0px;
    left: -200px;
    width: 200px;
    height: 200px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: white);
}

.heart:after{
    position: absolute;
    top: -200px;
    right: 0px;
    width: 200px;
    height: 200px;
    content: '';
     
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
 
    background-color: white;
}

.heart:before,
.heart:after{
    position: absolute;
    width: 370px;
    height: 370px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: white;
}
.heart:before{
    bottom: 0px;
    left: -200px;
}
.heart:after{
    top: -200px;
    right: 0px;
}

.heart{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.text {
	position: relative;
	top: -300px;
}

h1 {

	display: inline;
	position: relative;
	font: 5em Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5); 

}


h1:after {

	content: "hello";
	position: absolute; left: .04em; top: .02em;
	color: rgba(255,0,0,0.5);   

}

@-webkit-keyframes animatedBackground {
    from { margin-left: 100%; }
    to { margin-left: 0%; }
}

.pusheen { 
    width: 100%; 
    height: 13em;
    background-image: url("http://i1124.photobucket.com/albums/l579/fieKrieY/Unicorn.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    position: relative;
    z-index: auto;
    animation-direction: reverse;

    animation: animatedBackground 20s linear infinite;
    -ms-animation: animatedBackground 20s linear infinite;
    -moz-animation: animatedBackground 20s linear infinite;
    -webkit-animation: animatedBackground 20s linear infinite;
}